*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: auto;
    font-family: Arial, Helvetica, sans-serif;
}    

header{
    background-color: lightpink;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado{
    padding-top: 5%;
}
.container{
    background-color: purple;
    width: 100%;
    height: 70%;
    text-align: center;
    color: white;
}

.pie{
    text-align: center;
    background-color: aqua;
}